/*ACA LE AGREGO LOS ESTILOS A LAS CLASES NECESARIAS */
.item-list-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 100vh;
  }

  .item-list-container .texto {
    text-align: center;
  }

  /*agregandole los estilos al banner */
