body{
  background-color: rgb(197, 197, 197);
}


/*ACA LE AGREGO LOS ESTILOS A LAS CLASES NECESARIAS */
.item-list-container {
  display: flex;
  align-items: center; 
  justify-content: center; 
  height: 100vh;
  width: 100%;
}

.item-list-container .texto {
  text-align: center;
}

/*agregandole estilos al titulo*/

